/*-- scss:rules --*/

// Moderate dark grey link style
a.black-link {
  color: #575757;  // Moderate dark grey as the default
  text-decoration: none;

  // Hover effect (changing to the default dark grey)
  &:hover {
    color: darkgray;  // Default dark grey color on hover
  }
}